*{
  margin: 0px;
  padding: 0px;
  cursor: auto;
}

button{
  min-height: 40px;
  padding: 0px 16px;
  border-radius: 8px;
  outline: none;
  border: none;

  color: white;
  font-weight: bold;
  background-color: rgb(0,100,240);
  cursor: pointer;

  &:hover{
    opacity: 0.7
  }
}

.main{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 1240px;

  display: flex;

  $business-info-text-ratio: 18;
  .business-card{
    position: relative;
    width: 100%;

    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;

    *{
      font-family: "SF Pro Text Medium Embeded";
      text-align: left;
      box-sizing: border-box;
    }

    &.preview {
      .message-container{
        display: block;
      }
    }
    .card-content{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 1.5em;

      .container-logo{
        .logo-front{
          position: relative;
          width: 100%;
          padding-top: 100%;

          background: url("./img/logo-front-top-left.png") no-repeat center;
          background-size: cover;
        }
      }


      .content-body{
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        gap: 2em;

        .container-name-n-job-title{

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .info.name{
            display: flex;
            align-items: flex-end;
            gap: 0.5em;
            .stick{
              width: 0.5em;
              height: 100%;
              background-color: black;
            }
            .original{
              font-size: 1.5em;
            }
          }
        }


        .container-contact-info{
          .contact-item{
            display: flex;
            align-items: center;

            img{
              margin-right: 1em;
              height: 1em;
            }
          }
        }

        .container-address{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }

    .message-container{
      position: absolute;
      top: 24px;
      left: 16px;
      right: 16px;
      font-size: 12px;
      color: rgb(150,150,150);
      display: none;

      .message{
        padding: 8px 0px;
      }
      .message.preview-guide{
        &.footer{
          border-top: 1px solid rgb(235,235,235);
        }
      }
    }
  }


  .section-table {
    width: 600px;
    padding-left: 24px;
    padding-bottom: 24px;

    display: flex;
    flex-direction: column;

    .section-header {
      padding-top: 24px;
      padding-bottom:18px;
      display: flex;
      flex-direction: column;
      align-items: start;

      .title{
        display: flex;
        $logo-size: 40px;
        img{
          margin-right: 12px;
          width: $logo-size;
          height: $logo-size;
        }
      }

      *{
        text-align: left;
      }

      h1{
        margin-bottom: 12px;
      }
      .guide{
        padding-left: 12px;

        p{
          font-size: 14px;
          line-height: 1.5;
          font-weight: bold;
          color: gray;
        }
      }
      .section-select-entity{
        margin-top: 16px;
        width: 100%;
        display: flex;
        gap: 8px;
        justify-content: center;

        .btn-entity{
          border-radius: 20px;
          background-color: rgb(235,235,235);
          color: black;

          &.active{
            background-color: rgb(0,100,240);
            color: white;
          }
        }
      }

    }

    .section-body {
      width: auto;
      padding-bottom: 24px;
      flex: 1;
      display: flex;
      flex-direction: column;

      .table-wrapper{
        overflow-y: auto;
        //border-radius: 8px;
        //border: 1px solid rgb(200,200,200);
        border-top: none;
        flex: 1;

        display: flex;

        .business-card-table{
          height: 100%;
          .colHeader{
            font-size: 12px;
          }
        }
        tr > td{
          font-size: 13px;
        }
      }
    }

    .button-generate{
      height: 50px !important;
      background-color: rgb(0,100,240);
      line-height: 12px;


      &:hover{
        opacity: 0.7
      }
    }
  }

  .section-images{
    margin-left: 24px;
    padding: 24px;
    padding-bottom: 0px;

    flex: 1;
    background-color: rgb(245,245,245);
    display: flex;
    flex-direction: column;

    .section-header{
      display: flex;
      align-items: center;
      height: 60px;
      border-bottom: 2px solid rgb(235,235,235);
      gap :24px;

      .size-info{
        opacity: 0.3;
        flex: 1;
        text-align: left;
      }
      .btn-download-all{
        &.disabled{
          opacity: 0.3;
          pointer-events: none;
        }
      }
    }
    .section-body{
      flex: 1;
      overflow-y: auto;
      display: flex;
      flex-wrap: wrap;

      .empty-label{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;
        color: gray;
        font-size: 14px;
      }

      .business-card-wrapper{
        position: relative;
        margin: 16px 8px;

        $number-size: 24px;

        .row-number{
          position: absolute;
          z-index: 100;
          top: 0;
          left: 0;
          //width: $number-size;
          padding: 0px 8px;
          height: $number-size;
          border-bottom-right-radius: 4px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(235,235,235,0.1);
        }

        .btn-download-image{
          margin-top: 8px;
          width: 100%;
          //background-color: gray;
          color: white;
        }
      }
    }
  }

  #hot-display-license-info{
    display: none;
  }
  //$download-image-width: 1200px;
  .download-image-container{
    position: absolute;
    left: 0;
    top: 100%;

    //width: $download-image-width;
    .business-card{
      border-radius: 0px !important;

      p{
        letter-spacing: .25rem;
        //font-size: $download-image-width / $business-info-text-ratio !important;
      }
    }
  }
}

